<h1>Library Books</h1>
<a href="/books/add">Add Book</a>
<ul>
    <% books.forEach(book => { %>
        <li>
            <%= book.title %> by <%= book.author %> (<%= book.genre %>)
            <a href="/books/edit/<%= book._id %>">Edit</a>
            <form action="/books/delete/<%= book._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>
